<!DOCTYPE html>
<html>
<head>
<title></title>
<link href="uniform/css/uni-form.css" media="all" rel="stylesheet"/>
<link href="uniform/css/default.uni-form.css" media="all" rel="stylesheet"/>
<link href="uniform/demos/css/demo.css" media="all" rel="stylesheet"/>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" media="all" rel="stylesheet"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js"></script>
<script type="text/javascript" src="uniform/js/uni-form.jquery.js"></script>
<script type="text/javascript" src="uniform/js/uni-form-validation.jquery.js"></script>

<script type="text/javascript">

$(function(){
  $('form.uniForm').uniform();
  $('.dateInput').datepicker();
});
</script>

<body>
{{render_form(form, headline = 'WTFuniform demonstration', header_content = 'This is a demo to show the capabilities of <a href="https://github.com/mbr/wtfuniform" title="wtfuniform on github.com">WTFuniform</a>.', error_title = 'Oops! Something went wrong there!', ok_message = 'This is a sample OK message')}}
</body>
</html>
