{% macro render_field_uniform(field) %}
    <div class="ctrlHolder">
      {{field.label}}
      {{field(**kwargs)|safe}}
      <p class="formHint">{{field.description}}</p>
    </div>
{% endmacro -%}

{% macro render_form_uniform(form, action = '.') %}
<form action="{{action}}" class="uniForm">
  <fieldset>
  	{%- for field in form -%}
  		{% if not field.uniform_action %}{{render_field_uniform(field)}}{% endif %}
  	{%- endfor %}
    <div class="buttonHolder">
  	{%- for field in form -%}
  		{% if field.uniform_action %}
  		{{field()}}
  		{% endif -%}
  	{% endfor %}
  </fieldset>
</form>
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
<title></title>
<link href="uniform/css/uni-form.css" media="all" rel="stylesheet"/>
<link href="uniform/css/default.uni-form.css" media="all" rel="stylesheet"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
<script type="text/javascript" src="uniform/js/uni-form.jquery.js"></script>
<script type="text/javascript" src="uniform/js/uni-form-validation.jquery.js"></script>

<script type="text/javascript">
$(function(){
  $('form.uniForm').uniform();
});
</script>

{{render_form_uniform(form)}}
</head>
<body>
